.signup-container {
  display: flex;
  height: 80%;
  width: 100%;
  margin-top: -3rem;
}
  



.paragraph-container {
  justify-content: center;
  align-items: center;
}
  



.details-container {
  display: grid;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background-color: #FFFFFF;
}
  





.social-logo {
  display: grid;
}

input {
  padding: 0.7rem;

}

.nam {
  display: flex;
  gap: 3.5rem;

}

.nam1 {
  border: 1px solid #4D4D4D;
  background: #FFF;
  border-radius: 0.8rem;

}

.nam2 {
  border: 1px solid #4D4D4D;
  background: #FFF;
  border-radius: 0.8rem;
}

.details-container h1 {
  font-size: 2.6rem;
  list-style: normal;
  font-style: normal;
  font-weight: 700;
}

.email input {
  width: 44rem;
  height: 4rem;
  margin-top: -4rem;
  border: 1px solid #4D4D4D;
  background: #FFF;
  border-radius: 0.8rem;

}

.password input {
  width: 44rem;
  height: 4rem;
  margin-top: -4rem;
  border: 1px solid #4D4D4D;
  background: #FFF;
  border-radius: 0.8rem;
}

.nam input {
  width: 20rem;
  height: 4.3rem;
}

.c-btn button {
  width: 44rem;
  height: 4rem;
  border-radius: 0.8rem;
  background: #02243F;
  color: white;
}

.checkbox {
  font-size: 1.5rem;
  font-weight: 400;
  color: #4D4D4D;
  text-align: start;
  gap: 2rem;
  margin-top: -3rem;
  text-indent: 1rem;
  word-spacing: 0.5;
}

.c-btn p {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: start;
}


.c-btn p a {
  text-decoration: none;
}

.social-logo {
  border-radius: 8px;
  column-gap: 2rem;
  margin-bottom: 3rem;

}

.gl {
  border: 1.5px solid #3D9AE2;
  background: #FFF;
  margin-top: -2rem;
  display: flex;
  width: 44rem;
  height: 4.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  text-indent: 1.5rem;
}

.fb {
  border: 1.5px solid #3D9AE2;
  border-radius: 0.8rem;
  background: #FFF;
  margin-top: 2rem;
  display: flex;
  width: 44rem;
  height: 4.2rem;
  justify-content: center;
  align-items: center;
  text-indent: 1.5rem;
}

form {
  margin: 2rem;
}