.signup-container {
  display: flex;
  height: 100vh;
}

.paragraph-container {
  height: 100%;
  width: 50%;
  align-items: center;
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.48) 100%), url("../../assets/signupBackgroundImage.jpg"), lightgray 50% ;
  background-position: 50%;
  background-size: cover;
}

.details-aside {
  width: 50%;
}

.details-container {
  margin: 10rem auto;
  width: 40rem;
  text-align: center;
  background-color: #FFFFFF;
}
.signup-note{
  color: #E5E9EF;
  padding: 5rem 10rem;
  height: 20rem;
  background: rgba(229, 233, 239, 0.17);
  text-align: center;
}
 .memlink {
  text-align: left;
  font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0.8rem;
}

.memlink a {
  color: #3D9AE2;
  text-decoration: none;
}
 

.hr{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
  
  
.h3 {
  font-size: 2.8rem;
  font-weight: 2rem;
}
 
.signup-form {
  width: 50rem;
}

.signup-note p {
  font-size: 1.2rem;
}
  
.txt-h{
  margin-top: -7rem;
  display:flex;
  justify-content: center;
}

.signup-note {
  color: #E5E9EF;
  padding: 2rem 5rem;
  height: 20rem;
  background: rgba(229, 233, 239, 0.17);
  width: 100%;
}

.memlink {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.8rem;
  font-size: 1.5rem;
  color: #4D4D4D;
}

.memlink>a {
  color: #3D9AE2;
  text-decoration: none;
}

.memlink>a:hover {
  color: #02243F;
}

.hr{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
  
  
.h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #4D4D4D;
}
 
.welcome-header {
  font-size: 3rem;
  font-weight: 700;
}

.signup-note p {
  font-size: 1.5rem;
  width: 36rem;

}
  
.txt-h{
  margin-top: -7rem;
  display:flex;
  justify-content: center;
  color: #4D4D4D;
}

.nam {
  display: flex;
  gap: 2rem; 
  width: 100%;

}

.nam1,
.nam2,
.email,
.password {
  padding: .5rem;
  width: 100%;
  height: 4rem;
  border: 1px solid #4D4D4D;
  background: #FFF;
  border-radius: 0.8rem;
  margin-top: 2rem;
}

.details-container h1 {
  font-size: 2.6rem;
  list-style: normal;
  font-style: normal;
  font-weight: 700;
  margin: 2rem;
}

.nam input {
  width: 20rem;
}

.signup-form input[type= "submit"] {
  background-color: #02243F;
  border: none;
  color: #FFF;
  cursor: pointer;
  border-radius: .5rem;
  width: 100%;
  height: 4rem;
  margin: 2rem 0;
}

.check-box {
  display: flex;
  font-weight: 400;
  color: #3A3A3A;
  align-items: center;
  gap: 1.25rem;
  margin: 1rem 0;
}

.check-box input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
}
  
.tandc {
  font-size: 1.5rem;
  font-weight: 400;
}
  

.tandc>a {
  color: #3A3A3A;
}

.tandc>a:hover {
  color: #3D9AE2;
}

.social-logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.social-logo a {
  text-decoration: none;
}
