.hero-container {
    color: #fff;
    height: 550px;
    position: relative;
    background: #02243F;
    overflow: hidden;
    
}

.yellow-box {
    width: 45rem;
    height: 35rem;
    border: 8px solid #FBBC04;
    position: absolute;
    top: 22%;
    left: 65%;
    transform: rotate(29deg);
}

.white-box {
    position: absolute;
    width: 34rem;
    height: 20rem;
    border: 6px solid #FFF;
    top: 42%;
    left: 76%;
    transform: rotate(29deg);
}

.page-ad {
    background: #F2C74D;
    display: flex;
    gap: 8rem;
    padding: 1rem 3rem;
    align-items: center;
    color: #000;
    font-size: 2rem;
    position: absolute;
    z-index: 10000;
    width: 100%;
}

.page-ad img {
    cursor: pointer;
}

.close-btn {
    border: none;
    background: transparent;
}

.hero-content {
    width: 60rem;
    padding: 10rem 8rem;
}

.popular-div {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    align-items: center;
}

.popular-div p {
    font-size: 2rem;
}

.popular-btn {
    border: 1px solid #FFF;
    padding: 1rem;
    background: transparent;
    color: #FFF;
    border-radius: .5rem;
}

.hero-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
    width: 45rem;
    padding: 2px;
    border: none;
    border-radius: .25rem;
    background: #FFF;
}

input.heroSearch-field {
    display: flex;
    padding: 1rem 1.5rem;
    flex: 1 0 0;
    color: #4D4D4D;
    border: none;
}

input.heroSearch-field:focus {
    outline: none;
}

button[type="submit"] {
    width: 4rem;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent;
    cursor: pointer;
}

.hero-text>h2 {
    font-size: 4rem;
    line-height: normal;
    margin: 2rem auto;
}

.gs-btn {
    margin: 0 auto;
}

.get-started-btn {
    background: #3D9AE2;
    border: none;
    color: #fff;
    padding: 1.5rem;
    border-radius:  0.5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.bgdImage-wrapper {
    z-index: 1000;
    margin: 0 -3rem;
}

.bgdImage-wrapper img {
}