.hero-container {
    /* height: 100dvh; */

    text-align: center; 
    color: #fff;
    display: flex;
    height: 760px;
    padding: 32px 120px 64px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    align-self: stretch;
}

.hero-content {
    margin: auto;
    width: 35rem;
}

.search-box {
    display: flex;
    margin-bottom: 3rem;
}

.search-box>input {
    height:4rem;
    width: 30em;
    border: 1px solid #3D9AE2;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 1.5rem;
}

.search-box>button {
    width: 5rem;
    background-color: #3D9AE2;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.search-box>button>img {
    width: 1.5rem;
    height: 1.5rem;
}

.hero-text>h2 {
    font-size: 4rem;
    line-height: normal;
}

.hero-text>p {
    font-size: 1.5rem;
}

.gs-btn {
    margin: 0 auto;
}

.get-started-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 1rem;
    margin: 4rem auto;
    border-radius:  0.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}