.tutor-container {
    width: 70%;
    margin: 0 auto;
    display:flex;
    background-color: #ffff;
    justify-content: center;
    gap: 15rem; 
    height: 35rem;
    color: #4D4D4D
}

.b-tutor {
    width: 40%; 
    font-size: 1.5rem;
    margin: auto;
}

.tutor-btn { 
    background: #02243F;
    color:#FFF;
    border-radius: 0.5rem;
    height: 4rem;
    width: 12rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.tutor-btn:hover {
  transform: scale(1.05);
  transition: .5s ease-in-out;
  color: #02243F;
  background: #FFF;
  outline: none;
  border: 1px solid #02243F;
}

.ts-img img {
    width: 35rem;
    height: 30rem;
}
  
@media only screen and (max-width: 600px) {
    .tutor-container {
        flex-direction: column-reverse;
        gap: 2rem;
        height: auto;
        width: 80%;
        margin: 2rem auto;
    }

    .b-tutor {
        width: 80%;
        text-align: center;
    }

    .ts-img>img {
        width: 35rem;
        height: 25rem;
    }
}