.frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: #4D4D4D;
    text-align: center;
    margin: 1rem auto;
}

.line {
    width: 1px;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 13px;
}

