.frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: #4D4D4D;
    text-align: center;
    padding: 2rem;

}

.line {
    width: .5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: #4D4D4D;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.2rem;
}

