.forgot-pass-container {
    font-size: 1.2rem;
    color: #4D4D4D;
    width: 100%;
    height: 100%;
    padding: 7rem 8rem;
    margin: 0 auto;
}

.forgot-pass-go-back {
    align-self: flex-start;
    font-size: 2rem;
    cursor: pointer;
}

.forgot-pass-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-inline: .5rem;
    margin: 6rem auto;
}

.forgot-pass-milestone {
    border: 1px solid #828282;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-pass-line {
    height: 2.5rem;
}

.reset-pass-steps {
    text-align: center;
    width: 40rem;
    margin: 0 auto;
}

.reset-pass-step-header>h3 {
    font-size: 2rem;
    font-weight: 700;
}

.reset-pass-step-header>p {
    font-size: 1.5rem;
    font-weight: 500;
}

.reset-pass-step-header>p>a {
    color: #0095E8;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.reset-pass-step-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    padding: .5rem 0;
    gap: 2rem;
}

.reset-input-box,
.reset-step-btn {
    height: 4rem;
    padding: .75rem;
    border-radius: .5rem;
}

.reset-input-box {
    border: 1px solid #00456B;
    color: transparent;
}

.reset-step-btn {
    background-color: #00456B;
    color: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.pass-progress {
    color: #00456B;
    border: 2px solid #00456B;
    background-color: #E6F6FF;
}

.pass-progress-bar {
    filter: invert(17%) sepia(24%) saturate(5920%) hue-rotate(180deg) brightness(40%) contrast(102%);
}