.certification-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.cert-header>h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #4D4D4D;
    margin-bottom: 2rem;
}

.certification-grid {
    display: grid;
    grid-template-columns: repeat(4, 28rem);
    gap: 4rem 3rem;
    margin: 2rem auto;
    
}
.cert-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    outline: none;
    box-shadow: 0 .1rem .5rem rgba(77, 77, 77, 0.50);
    border-radius: 0.24rem;
    height: 25rem;
}

.cert-card:hover {
    border: none;
    outline: none;
    box-shadow: 0 .5rem 1rem rgba(77, 77, 77, 0.50);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.card-img {
    width: 100%;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border: none;
    outline: none;
    align-self: stretch;
    border-top-right-radius: 0.24rem;
    border-top-left-radius: 0.24rem;
}

.card-text {
    padding: .8rem;
    color: #4D4D4D;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
}

.card-text a {
    text-decoration: none;
}

.card-text>h3 {
    font-size: 1.5rem;
}

.cert-button {
    display: none;
}

@media only screen and (max-width: 600px) {
    .cert-header>h2 {
        font-size: 2rem;
    }

    .certification-grid {
        display: flex;
        align-items: center;
    }

    .hide {
        display: none;
    }

    .cert-button {
        background: #F9FAFF;
        width: 6rem;
        height: 5rem;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
    }
    
    .cert-button:hover {
        transform: scale(1.1);
    }
    
    .cert-button img {
        position: absolute;
        width: 1.5rem;
        height: 2rem;
    }
}