.container {
    height: 70px;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    position: sticky;
    top: 0;
    z-index: 1000000000;
    background: #FFF;
}

select {
    border: none;
    font-size: 17px;
}

.logo h1{
    align-items: flex-start;
    font-size: 3rem;
    text-decoration: none;
    padding: 0 2.5rem;

}

.logo h1 a {
    text-decoration: none;
    color: #02243F;
}

.pages {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.pages ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    font-size: 1.5rem;
    list-style: none;
    color: #4D4D4D;
}

.pages ul li {
    position: relative;
    cursor: pointer;
}

.pages ul li:hover {
    color: #3D9AE2;
    text-decoration: none;
}

.pages ul li a:hover {
    color: #3D9AE2;
    text-decoration: none;
}

.pages ul li a {
    /* color: #3D9AE2; */
    color: #4D4D4D;
    text-decoration: none;
}

.pages ul li a.active {
    color: #3D9AE2;
    font-size: 1.7rem;
}

.dropdown {
    display: none;
}

.pages ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: -130%;
    top: 100%;
    background: #FFF;
    z-index: 100000;
}

.pages ul li:hover .dropdown ul {
    display: block;
    margin: 2rem 2rem;
}

.pages ul li:hover .dropdown ul li {
    width: 200px;
    padding: 8px;
}

.pages ul li:hover .dropdown a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    white-space: nowrap;
}

.pages ul li:hover .dropdown li:hover {
    background: #4d4d4d27;
}

.pages ul li:hover .dropdown h4 {
    max-width: 80%;
}

.btn-container {
    display: flex;
    gap: 3rem;
    border: none;
}
    
.nav-btn {
    height: 4.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.nav-btn a {
    text-decoration: none;
    color: inherit;
}

.courses-nav-btn {
    display: flex;
    justify-content: space-between;
    min-width: 10rem;
}

.searchBtn {
}

.button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 2rem;
}

.button>img {
    height: 3rem;
}

.forfree {
    background: #02243F;
    color: #FFF;
    width: 13rem;
    padding: 5px;
}

.forfree:hover {
    outline: none;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.login {
    width: 120px;
    color: #02243F;
    background-color: transparent;
    border: none;
}

.login:hover {
    border: 1px solid #02243F;
    outline: none;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.hamburger {
    display: none;
}

.mobile-screen {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        left: 2rem;
    }

    .mobile-screen {
        visibility: inherit;
    }

    .logo {
        margin-left: 2rem;
    }

    .pages {
        display: none;
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background-color: #4D4D4D;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

