.video-collection-flex {
    display: flex;
    height: 40rem;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.play-logo {
    width: 4.25rem;
    height: 4.25rem;
}

.video-container-content {
    width: 40rem;
    color: #FFF;
    font-size: 2rem;
}

.watch-video-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    gap: 1rem;
    cursor: pointer;
}
