.video-collection-flex {
    display: flex;
    height: 40rem;
}

.video-container {
    display: flex;
    width: 50%;
}

.play-logo {
    width: 6.25rem;
    height: 6.25rem;
    margin: auto;
}

.meet-tutors {
    background: #ECF5FC;
    text-align: center;
    padding: 7rem;
    width: 50%;
    color: #4D4D4D;
}

.meet-tutors_h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.meet-tutors_blockquote {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.meet-tutors_h4 {
    font-size: 2rem;
}

.meet-tutors_cite {
    font-size: 1.5rem;
}