.video-collection-flex {
    display: flex;
    height: 50rem;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.play-container {
    background: #3D9AE2;
    border-radius: 5rem;
    padding: 1.1rem 1.1rem 1.1rem 1.5rem;
    display: flex;
}

.play-logo {
    width: 2.125rem;
    height: 2.125rem;
}

.video-container-content {
    width: 50rem;
    color: #FFF;
    font-size: 2rem;
}

.watch-video-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    gap: 1rem;
    cursor: pointer;
}
