.learners-con {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #F9FAFF;
  margin-top: -5rem;
}
  
.topp {
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.testimoni {
  display: flex;
  gap: 12rem;
  font-size: 12px;
  height: 20vh;
  width: 140rem;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.cardd {
  width: 17%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 0.5rem;
  height: 15rem;
}
  

.seee  {
  font-size: 1.5rem;
  color: black;
  background: #F9FAFF;
  color: black;
}
  
  





  



  

