.features-container {
    background: rgba(61, 154, 226, 0.10);
    text-align: center;
    padding: 5rem 7rem;
}

.features-header>h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #4D4D4D;
    margin-bottom: 2rem;
}

.features-header>h2>span {
    color: #1A73E8;
}

.features-flex {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.features-card {
    background-color: #fff;
    width: 20vw;
    height: 25rem;
    padding: 2rem;
    border-radius: .8rem;
    color: #4D4D4D;
}

.feature-text>h3 {
    font-size: 2rem;
}

.feature-text>p {
    font-size: 1.5rem;
}