* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  height: 100dvh;
  font-family: Helvetica;
}

.click-btn {
  border: none;
  color: #02243F;
  font-size: 1.5rem;
  font-weight: 700;
  background: none;
  margin: 3rem auto;
  cursor: pointer;
  text-decoration: underline;
}

.click-btn:hover {
  transform: scale(1.05);
  transition: .2s ease-in-out;
}