* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  height: 100dvh;
}

.click-btn {
  border: 1px solid #3D9AE2;
  border-radius: .5rem;
  color: #3D9AE2;
  font-family: Helvetica;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  background: none;
  margin: 3rem auto;
  cursor: pointer;
}